params {
    assays {
        'cdl' {
            reference = "s3://ncgl-prod.references-bucket/GRCh38.DH.p0-germline-alpha"
            assay_type = "cdl"
            container = "256212633204.dkr.ecr.us-west-2.amazonaws.com/ncgl-germline-analysis-task:eda1d49"
        }
        'cdl-v3-probes' {
            reference = "s3://ncgl-prod.references-bucket/GRCh38.DH.p0-germline-alpha-v3-probes"
            assay_type = "cdl"
            container = "256212633204.dkr.ecr.us-west-2.amazonaws.com/ncgl-germline-analysis-task:efbe86f"
        }
        'exome' {
            reference = "s3://ncgl-prod.references-bucket/hs37d5-germline-alpha"
            assay_type = "exome"
            container = "256212633204.dkr.ecr.us-west-2.amazonaws.com/ncgl-germline-analysis-task:9ae3083"
        }
        'exome-dev' {
            reference = "s3://ncgl-prod.references-bucket/hs37d5-germline-alpha"
            assay_type = "exome"
            container = "256212633204.dkr.ecr.us-west-2.amazonaws.com/ncgl-germline-analysis-task:2639c0a"
        }
        'exome-panel' {
            reference = "s3://ncgl-prod.references-bucket/hs37d5-germline-alpha"
            assay_type = "exome"
            container = "256212633204.dkr.ecr.us-west-2.amazonaws.com/ncgl-germline-analysis-task:9ae3083"
        }
        'exome-pod' {
            reference = "s3://ncgl-prod.references-bucket/hs37d5-germline-alpha"
            assay_type = "exome"
            container = "256212633204.dkr.ecr.us-west-2.amazonaws.com/ncgl-germline-analysis-task:9ae3083"
        }
        'exome-production-update' {
            reference = "s3://ncgl-prod.references-bucket/hs37d5-germline-alpha-update"
            assay_type = "exome"
            container = "256212633204.dkr.ecr.us-west-2.amazonaws.com/ncgl-germline-analysis-task:ef76fda"
        }
        'neurodegenerative-nanoxome' {
            reference = "s3://ncgl-prod.references-bucket/exome-2017-02-15"
            assay_type = "neurodegenerative-nanoxome"
            container = "256212633204.dkr.ecr.us-west-2.amazonaws.com/ncgl-germline-analysis-task:aa07000"
        }        
    }
}


profiles {
    docker {
        docker {
            enabled = true
        }
        process {
            withLabel:pipeline {
                cpus = 4
                memory = '6GB'
            }
        }
    }
    uw_batch {
        workDir = 's3://uwlm-nextflow-data/workdir/ncgl-nf'
        process {
            scratch = "/docker_scratch"
            queue = 'ngs-queue'
            executor = 'awsbatch'
            errorStrategy = 'ignore'
            withLabel:pipeline {
                cpus = 30
                memory = '60GB'
            }
        }
        aws {
            region = 'us-west-2'
            batch {
                volumes = '/docker_scratch'
                cliPath = '/home/ec2-user/miniconda/bin/aws'
            }
            client {
                s3Acl = 'BucketOwnerFullControl'
            }
        }
    }
}