params {
    assays {
        'cdl' {
            reference = "s3://ncgl-prod.references-bucket/GRCh38.DH.p0-germline-alpha"
            pipeline_params = "s3://ncgl-prod.sample-bucket/20-10037-1/cdl/analyses/02d3406e-b1d5-453f-95a8-1b932e637c68/params.json"
            assay_type = "cdl"
            container = "256212633204.dkr.ecr.us-west-2.amazonaws.com/ncgl-germline-analysis-task:eda1d49"
        }
        'cdl-updated-baseline' {
            reference = "s3://ncgl-prod.references-bucket/GRCh38.DH.p0-germline-alpha-updated-baseline"
            pipeline_params = "s3://ncgl-prod.sample-bucket/20-10037-1/cdl/analyses/02d3406e-b1d5-453f-95a8-1b932e637c68/params.json"
            assay_type = "cdl"
            container = "256212633204.dkr.ecr.us-west-2.amazonaws.com/ncgl-germline-analysis-task:eda1d49"
        }
        'cdl-auto-baseline' {
            reference = "s3://ncgl-prod.references-bucket/GRCh38.DH.p0-germline-alpha-auto-baseline"
            pipeline_params = "s3://ncgl-prod.sample-bucket/20-10037-1/cdl/analyses/02d3406e-b1d5-453f-95a8-1b932e637c68/params.json"
            assay_type = "cdl"
            container = "256212633204.dkr.ecr.us-west-2.amazonaws.com/ncgl-germline-analysis-task:eda1d49"
        }
        'cdl-expanded-baseline' {
            reference = "s3://ncgl-prod.references-bucket/GRCh38.DH.p0-germline-alpha-expanded-baseline"
            pipeline_params = "s3://ncgl-prod.sample-bucket/20-10037-1/cdl/analyses/02d3406e-b1d5-453f-95a8-1b932e637c68/params.json"
            assay_type = "cdl"
            container = "256212633204.dkr.ecr.us-west-2.amazonaws.com/ncgl-germline-analysis-task:eda1d49"
        }
        'cdl-11' {
            reference = "s3://ncgl-prod.references-bucket/GRCh38.DH.p0-germline-alpha-cdl-11"
            pipeline_params = "s3://ncgl-prod.sample-bucket/20-10037-1/cdl/analyses/02d3406e-b1d5-453f-95a8-1b932e637c68/params.json"
            assay_type = "cdl"
            container = "256212633204.dkr.ecr.us-west-2.amazonaws.com/ncgl-germline-analysis-task:eda1d49"
        }
        'exome' {
            reference = "s3://ncgl-prod.references-bucket/hs37d5-germline-alpha"
            pipeline_params = "s3://ncgl-prod.sample-bucket/20-10470-1/exome/analyses/02f29ef3-3b10-4396-ba7a-715331b0826d/params.json"
            assay_type = "exome"
            container = "256212633204.dkr.ecr.us-west-2.amazonaws.com/ncgl-germline-analysis-task:2e2045a"
        }
        'exome-no-manta' {
            reference = "s3://ncgl-prod.references-bucket/hs37d5-germline-alpha"
            pipeline_params = "s3://ncgl-prod.sample-bucket/20-10470-1/exome/analyses/02f29ef3-3b10-4396-ba7a-715331b0826d/params.json"
            assay_type = "exome"
            container = "256212633204.dkr.ecr.us-west-2.amazonaws.com/ncgl-germline-analysis-task:9ae3083"
        }
        'exome-no-manta-no-phase' {
            reference = "s3://ncgl-prod.references-bucket/hs37d5-germline-alpha"
            pipeline_params = "s3://ncgl-prod.sample-bucket/20-10470-1/exome/analyses/02f29ef3-3b10-4396-ba7a-715331b0826d/params.json"
            assay_type = "exome"
            container = "256212633204.dkr.ecr.us-west-2.amazonaws.com/ncgl-germline-analysis-task:5bbf39b"
        }

        
    }
}


profiles {
    uw_batch {
        workDir = 's3://uwlm-nextflow-data/workdir/ncgl-nf'
        process {
            scratch = "/docker_scratch"
            queue = 'ngs-queue'
            executor = 'awsbatch'
            errorStrategy = 'ignore'
            withLabel:pipeline {
                cpus = 30
                memory = '60GB'
            }
        }
        aws {
            region = 'us-west-2'
            batch {
                volumes = '/docker_scratch'
                cliPath = '/home/ec2-user/miniconda/bin/aws'
            }
        }
    }
}